header, footer { background-color: #f44c47; }
header h3, header p { color: #FFF; }

h1 { 
    font-weight:bold;
    font-size: 37px;
    margin: 0;
    color: #3c3c3c; 
    text-transform: uppercase; }

ul {
    margin: 0;
    padding: 0; }

.header-row {
    background-color:#231f20;
    position:relative; }

/*.header-row:before, .header-row:after {
    background:#231f20;
    content:"";
    display:block;
    width:100%;
    bottom:0;
    position:absolute;
    top:0;
}
.header-row:before { left:-100%; }
.header-row:after { right:-100%; }*/

header .main-menu {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase; }

header .main-menu .main-menu-item  {
    color: #FFF;
    padding: 6px 22px 5px; }

header .main-menu .main-menu-item:hover  {
    background-color: #f44c47;
    text-decoration: none; }

.footer .container { color: #FFF; }
/*.content-holder .container { background-color: #eaeaea; }*/

.shop-item {
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #0080FF; }

.top-menu {
    margin-top: 20px;
    text-align: right; }

.top-menu li {
    padding: 0 0 0 11px;
    line-height: 20px; }

.top-menu li:after {
    content: "|";
    font-size: 11px;
    margin: 0 0 0 10px;
    color: #9B9393; }

.top-menu li:last-child:after {
    content:" ";
    margin: 0; }

.top-menu li a:hover {
    text-decoration: none;
    color: #000; }

.top-menu li a {
    color: #FFF;
    font-size: 13px; }


.top-menu li, .main-menu li { display:inline-block; }

.history-nav { 
    padding: 23px 0 17px 0; 
    background-color: #eaeaea;}

.history-nav h1 { margin-bottom: 3px; }
.history-nav ul { font-weight: bold; }
.history-nav ul a {
    color:#fe4f4a;
    text-decoration: none;
}
.history-nav ul a:hover {
    color:#000;
    text-decoration: none;
}

.history-nav .icon-angle-right {
    margin: 0 10px 0 0;
}

.breadcrumb { text-transform:lowercase; }

#content, #sidebar {
    padding: 40px 0 0 0;
}

#content ul.products {
    margin: 25px 0 0 -30px !important;
    list-style: none;
}

#content ul.products li.product{
    width: 270px;
    background-color: #808000;
    margin: 0 0 30px 20px;
    /*position: relative;*/
    /*text-align: left;*/
    /*vertical-align: top;*/
    background: #f5f4f7;
    padding: 10px;
    float: left;
}

.conten-holder 

.bemybox {
    border: solid 1px #000;
}