body {
    font-family: 'Ubuntu', sans-serif;
}

header, footer { background-color: #f44c47; }
header h3, header p { color: #FFF; }

h1 { 
    font-weight:bold;
    font-size: 37px;
    margin: 0;
    color: #3c3c3c; 
    text-transform: uppercase; }

ul {
    margin: 0;
    padding: 0; }

.font-size-12 {
    font-size: 12px;
}

.footer .container { color: #FFF; }

.main-menu {
    background-color:#231f20;
    position:relative; 
    color:#FFF;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase; }

.main-menu .main-menu-item  {
    color: #FFF;
    padding: 6px 22px 5px; }

.main-menu a:hover  { text-decoration: none; }

.main-menu li:hover  {
    background-color: #f44c47;
    text-decoration: none; }

.shop-item {
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #0080FF; }

header .top-menu {
    margin-top: 20px;
    text-align: right; }

header .top-menu li {
    padding: 0 0 0 11px;
    line-height: 20px; }

header .top-menu li:after {
    content: "|";
    font-size: 11px;
    margin: 0 0 0 10px;
    color: #9B9393; }

header .top-menu li:last-child:after {
    content:" ";
    margin: 0; }

header .top-menu li a:hover {
    text-decoration: none;
    color: #000; }

header .top-menu li a {
    color: #FFF;
    font-size: 13px; }

header .top-menu .badge {
    background-color: #FFF;
    color: #000;
    font-size: 13px;
}

.top-menu li, .main-menu li { display:inline-block; }

header .history-nav { 
    padding: 23px 0 17px 0; 
    position: relative;
    background-color: #eaeaea;
}

header .history-nav h1 { margin-bottom: 3px; }
header .history-nav ul { font-weight: bold; }
header .history-nav ul a {
    color:#fe4f4a;
    text-decoration: none;
}
header .history-nav ul a:hover {
    color:#000;
    text-decoration: none;
}

header .history-nav .icon-angle-right {
    margin: 0 10px 0 0;
}

.breadcrumb { text-transform:lowercase; }

#content, #sidebar {
    padding: 20px 0 0 0 !important;
    margin: 25px 0 25px 0 !important;
}

#sidebar .widgets {
    background-color: #f5f5f5;
    padding: 10px 0 10px 10px;
    margin-left: 5px;
    min-height: 250px;
}

#content ul.products, ul.order-list {
    margin: 0 0 0 -15px !important;
    list-style: none;
}

#content ul.products li.product {
    width: 270px;
    margin: 0 0 30px 15px;
    position: relative;
    text-align: left;
    vertical-align: top;
    background-color: #f5f4f7;
    padding: 10px;
    display:inline-block;
}

#content ul.products li.product:hover {
    background-color: #d9dbdc;
}

#content ul.order-list li.product {
    background-color: #f5f4f7;
    margin: 0 0 5px 15px;
    padding: 10px;   
}

#content ul.order-list li.product:hover {
    background-color: #d9dbdc;
}

.content-holder ul.products li.product .onsale {
    top: 0px;
    right: 0px;
    left: auto;
    margin: -6px -6px 0 0;
}

.content-holder span.onsale {
    position:absolute;
    text-align: center;
    line-height: 25px;
    font-size: 12px; 
    font-weight: bold;
    min-height: 32px;
    min-width: 32px;
    padding: 4px;
    margin: 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fe4f4a;
    background: -webkit-gradient(linear,left top,left bottom,from(#a2c094),to(#85ad74));
    background: -webkit-linear-gradient(#a2c094,#85ad74);
    background: -moz-linear-gradient(center top,#a2c094 0,#85ad74 100%);
    background: -moz-gradient(center top,#a2c094 0,#85ad74 100%);
    text-shadow: 0 -1px 0 #85ad74;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3),inset 0 -1px 0 rgba(0,0,0,0.2),0 1px 2px rgba(0,0,0,0.2);
}

.content-holder li.product a:hover {
    text-decoration: none;
}

.content-holder li.product a img {
    display:block;
    background: #FFF;
    border: 1px solid #d9dbdc;
    width: 100% !important;
    height: auto !important;
    margin: 0 0 8px;
}
.content-holder li.product a h4 {
    text-transform: uppercase;
    color: #7d7d7d;
    font: 700 12px/20px 'Ubuntu';
    letter-spacing: 1px;
    line-height: 12px;
    display:block;
}

.content-holder li.product .descr {
    color: #7d7d7d;
    font: 400 12px/16px 'Ubuntu';
    display: block;
}

.content-holder li.product .price {
    color: #3c3c3c;
    font: 600 22px/34px 'Ubuntu';
}

.content-holder li.product .price:after {
    content: " грн.";
    font-size: 14px;
}

.order-item {
    line-height: 35px;
    padding-right: 10px;
}

.order-item input {
    width: 50px;
    text-align: center;
}

.clear {
    margin: 0 !important;
    padding: 0 !important;
}

.copyright {
    background-color: #211d1e;
}

.bemybox {
    border: 1px solid #000;
}