.bordershow {
    border: solid 1px #000;
}

header, footer {
    background-color: #f44c47;
}

ul {
    margin: 0;
    padding: 0;
}

.header-row {
    background-color:#231f20;
    position:relative;
}

.header-row:before, .header-row:after {
    background:#231f20;
    content:"";
    display:block;
    width:100%;
    bottom:0;
    position:absolute;
    top:0;
}
.header-row:before { left:-100%; }
.header-row:after { right:-100%; }

header .main-menu {
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
}
header .main-menu .main-menu-item {
    color: #FFF;
    padding: 6px 22px 5px;    
}

header .main-menu .main-menu-item:hover {
    background-color: #f44c47;
    text-decoration: none;
}

.footer .container {
    color: #FFF;
}

.content-holder .container {
    background-color: #C8C8C8;
}

.shop-item {
    padding-left: 10px;
    margin-bottom: 10px;
    background-color: #0080FF;
}

.top-menu {
    margin-top: 20px;
    text-align: right;
}

.top-menu li, .main-menu li {
    display:inline-block;
}