<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="shopApp"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Web app store</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="styles/libs/bootstrap.css">
    <link rel="stylesheet" href="styles/libs/normalize.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

</head>
<body ng-controller="ApplicationController">
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div id="wrapper">
        <header id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <h3><strong>Пожарочка</strong></h3>
                        <p>лучшая пожарочка в Украине</p>
                    </div>              
                    <div class="col-md-8 col-xs-8">
                        <div class="top-menu">
                            <ul>
                                <li ng-repeat="menu in topMenu">
                                    <a href="">{{menu.label}}</a>
                                </li>
                                <li>
                                    <a href="#!/view-cart">
                                        <i class="glyphicon glyphicon-shopping-cart"></i>
                                        <span class="badge" ng-show="cart.length > 0">{{cart.length}}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="main-menu">
                <div class="container">                
                    <ul>
                        <li ng-repeat="menu in mainMenu" ng-click="changeHistoryTitle(menu.label)"><a href="#{{menu.url}}" class="main-menu-item">{{menu.label}}</a></li>
                    </ul>
                </div>
            </nav>
            <section class="history-nav" ng-model="historyTitle">
                <div class="container">
                    <h1>{{historyTitle}}</h1>
                    <ul>
                        <a href="#">главная</a>
                        <i class="glyphicon glyphicon-chevron-right btn-xs"></i>
                        {{historyTitle}}
                    </ul>
                </div>
            </section>
        </header>


        <div class="content-holder">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div id="content">
                            <div ng-view>
                                Views   
                            </div>
                        </div>
                        <!-- <aside class="col-md-3 col-xs-3" id="sidebar">
                            <div class="widgets">
                                <p>Aside widget's</p>
                            </div>
                        </aside> -->
                    </div>
                </div>
            </div>
        </div>
    

        <footer id="footer">
            <div class="container">
               <div class="row">
                   <div class="col-md-12 col-xs-12">
                        <h3>Пожарочка</h3>
                        <div>
                            <p>г. Николаев</p>
                            <p>ул. Корабелов 12</p>
                            <p>093 555-55-55</p>
                        </div>
                    </div>
                </div>
            </div>        
        </footer>
    </div>  


    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="scripts/libs/angular.js"></script>
    <script src="scripts/libs/angular-route.js"></script>
    <script src="scripts/libs/angular-ui.js"></script>
    <script src="scripts/libs/ui-bootstrap.min.js"></script>
    <script src="scripts/libs/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/libs/jquery.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="scripts/libs/plugins/affix.js"></script>
    <script src="scripts/libs/plugins/alert.js"></script>
    <script src="scripts/libs/plugins/dropdown.js"></script>
    <script src="scripts/libs/plugins/tooltip.js"></script>
    <script src="scripts/libs/plugins/modal.js"></script>
    <script src="scripts/libs/plugins/transition.js"></script>
    <script src="scripts/libs/plugins/button.js"></script>
    <script src="scripts/libs/plugins/popover.js"></script>
    <script src="scripts/libs/plugins/carousel.js"></script>
    <script src="scripts/libs/plugins/scrollspy.js"></script>
    <script src="scripts/libs/plugins/collapse.js"></script>
    <script src="scripts/libs/plugins/tab.js"></script>
    <!-- endbuild -->


    <!-- build:js({app,.tmp}) scripts/main.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/directives/directives.js"></script>
    <!-- endbuild -->

</body>
</html>
