<div class="modal-header">
    <h3 class="modal-title">Finish checkout</h3>
</div>
<div class="modal-body">
    <p><input type="text" class="form-control" placeholder="Username" /></p>
    <p><input type="text" class="form-control" placeholder="Mail" /></p>
    <p><input type="text" class="form-control" placeholder="Phone" /></p>
    <p><textarea type="text" class="form-control" placeholder="Shipping address"></textarea></p>

    <!-- <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul>
    Selected: <b>{{ selected.item }}</b> -->
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">finish</button>
    <button class="btn btn-warning" ng-click="cancel()">cancel</button>
</div>