<div class="modal-header">
    <h3 class="modal-title">Оформить заказ?</h3>
</div>
<div class="modal-body">
    <form>
        <!-- <fieldset> -->
            <div class="form-group">
                <p><input type="text" class="form-control" placeholder="Ваше полное имя (Ф.И.О.)" /></p>
                <p><input type="text" class="form-control" placeholder="Почта (email)" /></p>
                <p><input type="text" class="form-control" placeholder="Контактные телефоны" /></p>
                <p><textarea type="text" class="form-control" placeholder="Адресс доставки"></textarea></p>
            </div>
        <!-- </fieldset> -->
    </form>    
</div>
<div class="modal-footer">
    <div class="form-group row">
        <div for="ok-btn" class="text-left font-size-12 col-sm-8">Ваш заказ отправится к нам, и мы с Вами свяжемся в ближайшее время.</div>
        <div id="ok-btn" class="col-sm-4">
            <button class="btn btn-success" ng-click="ok()">Отправить</button>
            <button class="btn btn-danger" ng-click="cancel()">Нет</button>
        </div>        
    </div>    
</div>