<h4>Shopping cart</h4>
<ul class="order-list">
    <li class="product" ng-repeat="product in cart">
    	<div class="row order-item">
	    	<div class="col-md-7 col-xs-7">{{product.label}}</div>
	    	<div class="col-md-2 col-xs-2 price">{{product.price}}</div>
	    	<div class="col-md-2 col-xs-2">
                <input type="text" ng-value="1" />
            </div>
	    	<div class="col-md-1 col-xs-1">
	    		<button type="button" class="btn btn-danger btn-xs" ng-click="deleteItemFromCart(product.id)">remove</button>
	    	</div>
        </div>
    </li>
</ul>
<button type="button" class="btn btn-success pull-right" ng-click="sendOrder()">Checkout</button>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>
